div.content
    div.line
        div.subFooter
            div.titleSection
                h2 XXVI CPG
        div.subFooter
    div.line
        div.subFooter
            div.line
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                br
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        div.subFooter
            form(action="#", method="post")
                div.line
                    input(type="text", placeholder="Qual é o seu nome?", alt="Campo para digitar nome.", title="Insira seu nome aqui.", name="__name")
                div.line
                    input(type="email", placeholder="Qual é o seu email?", alt="Campo para digitar email.", title="Insira seu email aqui.", name="__email")
                div.line
                    textarea(placeholder="O que tem a nos dizer?", alt="campo para digitar a mensagem", title="Insira sua mensagem aqui.", name="__msg")
                div.line
                    button(type="submit") enviar

    div.line
        div.subFooter
            p 
                | Avenida Norte Prédio da Reitoria - CEP: XXXXXXXXXX
                br
                | (35) 0000-0000
                br
                | Universidade Federal de Lavras
                br
                | Lavras - MG
        div.subFooter
            div.imgCell
                img
            div.imgCell
                img
            div.imgCell
                img
            div.imgCell
                img