div.content#footer
    div.line
        div.subFooter
            div.titleSection
                h2 XXVI CPG
        div.subFooter
            div.titleSection.hidden-sm.hidden-xs
                h2 contate-nos
    div.line
        div.subFooter.hidden-sm.hidden-xs
            div.line
                p
                    | O 26º Congresso de Pós-Graduação da UFLA terá como tema principal a
                    | “Inovação Tecnológica na Universidade”. Nesse sentido, a PRPG não
                    | mediu esforços para convidar sete palestrantes externos a UFLA e 
                    | ainda nove docentes do quadro permanente para expor assuntos relacionados
                    | a melhoria da qualidade da produção científica, a escolha correta e formas
                    | de divulgação dos resultados de pesquisas, temas inerentes ao mestrado 
                    | profissional, além da presença de dois diretores da CAPES, que apresentarão
                    | as ações atuais sobre recursos, bolsas e financiamento a internacionalização
                    | na pós-graduação. Frente a essa ação da PRPG o evento é gratuito e os discentes
                    | da pós-graduação, técnicos, docentes e até mesmos os estudantes de graduação 
                    | que desenvolvem projetos de iniciação científica e que possuem como meta 
                    | ingressar na pós-graduação, poderão participar de todas as palestras, pois 
                    | todas serão transmitidas em tempo real em anfiteatros da UFLA.
                br
                p
                    | Os participantes poderão ainda submeter um resumo científico, que será 
                    | apresentado na modalidade oral. 
                    | É um momento ímpar para discutirmos assuntos relacionados a pós-graduação, 
                    | onde estamos e onde pretendemos chegar. Contamos com a presença de toda a 
                    | comunidade acadêmica da UFLA.
        div.subFooter
            form(action="#", method="post")
                //prpg@ufla.br
                div.line
                    input(type="text", placeholder="Qual é o seu nome?", alt="Campo para digitar nome.", title="Insira seu nome aqui.", name="__name")
                div.line
                    input(type="email", placeholder="Qual é o seu email?", alt="Campo para digitar email.", title="Insira seu email aqui.", name="__email")
                div.line
                    textarea(placeholder="O que tem a nos dizer?", alt="campo para digitar a mensagem", title="Insira sua mensagem aqui.", name="__msg")
                div.line
                    button(type="submit") enviar

    div.line
        div.subFooter
            p 
                | Pró-Reitoria de Pós-Graduação 
                br
                | Prédio das Pró-Reitorias – Campus Universitário
                br
                | C.P. 3037 – CEP: 37200-000 – Lavras-MG. 
                br
                | Telefax: (35) 3829.1126 
                br
                | e-mail (cursos stricto sensu):
                a(href="mailto:prpg@ufla.br") prpg@ufla.br 
                br
                | Universidde Federal de Lavras
        div.subFooter
            div.imgCell
                img(src="img_new/index/01.svg")
            div.imgCell
                img(src="img_new/index/capes.png")
            div.imgCell
                img(src="img_new/index/fap.png")
            div.imgCell
                img.fixImg(src="img_new/index/cnpq.png")