section.divider01
section#index01
    div.content
        div.subIndex01
        div.subIndex01
            div.titleSection
                    h2 
                        | já conhece o congresso da pós graduação?
            div.line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            div.line.fix
                img(src="#")
        div.subIndex01
section.divider02
section#index02
    div.content
        div.line
            div.titleSection
                h2.white-title
                    | programação do evento
        div.line
            table
                thead
                    tr  
                        td 
                            h3 horarios
                        td 
                            h3 27/11
                        td 
                            h3 28/11
                        td 
                            h3 29/11
                        td 
                            h3 30/11
                        td 
                            h3 01/12
                tbody
                    tr
                        td 
                            p 08h - 10h
                        td 
                            p Solenidade de abertura dos congressos CONEX, CIUFLA e Workshop PG.
                        td 
                            p Palestrante CAPES – DRI “Ações de Internacionalização para o avanço do conhecimento da Pós-Graduação no Brasil” CONCEPTA MARGARET MCMANUS PIMENTEL (Diretoria de Relações Internacionais CAPES, Brasília-DF)
                        td 
                            p “Revistas Predatórias” Ronaldo Lopes Oliveira Pró-Reitor Adjunto de Pós- Graduação UFBA (Salvador-BA) Sugestão Márcio Ladeira.
                        td 
                            p Palestra Mestrados Profissionais “Evolução e Perspectivas dos Mestrados Profissionais”– Tânia Maria Diederichs Fischer (UFBA, Salvador-BA)
                        td
                            p Como preparar uma ementa, plano de aula e a explanação para a graduação Rita de Cássia Suart (DQI)
                    tr
                        td 
                            p 10h - 12h
                        td 
                            p Marco Legal da Ciência e Tecnologia de Inovação Gesil Sampaio Amarante (Universidade Estadual de Santa Cruz-BA).
                        td 
                            p Palestrante CAPES – DBP “Programas de Auxílios a Pós- Graduação e Bolsas CAPES” Geraldo Nunes Sobrinho (Diretoria de Programas de Bolsas no País (DPB) CAPES, Brasília-DF)
                        td 
                            p “Análise sobre as publicações científicas dos Programas de Pós- graduação da UFLA” Márcio Machado Ladeira, Pró- Reitor Adjunto de Pós-Graduação UFLA.
                        td 
                            p Palestra Mestrados Profissionais “Sistema de Avaliação e Produtos Tecnológicos no Mestrado Profissional” – Frederico José Lustosa da Costa (Universidade Federal Fluminense, Niterói-RJ).
                        td
                            p Organização de eventos técnicos de extensão Rubens (DAG) e Marcos Antônio Fabri Júnior, gerente regional da EMATER-MG.
                    tr
                        td(colspan="6")
                    tr
                        td 
                            p 14h - 16h
                        td 
                            p Apresentação de trabalhos Programas Acadêmicos e Programas Profissionais.
                        td 
                            p Como publicar em periódicos de elevado impacto Luiz Roberto Guimarães Guilherme (DCS, UFLA, Lavras-MG) Renato Paiva (DBI, UFLA, Lavras-MG).
                        td 
                            p Análises Estatísticas Multivariadas Cleiton Nunes (DCA).
                        td 
                            p Apresentação de trabalhos Programas Acadêmicos e Programas Profissionais.
                        td
                            p Palestra Encerramento “Inovação Tecnológica na Universidade” Fellipe Guerra David Reis (DIR/UFLA).
                    tr
                        td 
                            p 16h - 18h
                        td 
                            p Apresentação de trabalhos Programas Acadêmicos e Programas profissionais.
                        td 
                            p Estruturação de Projetos de pesquisa visando a captação de recursos em agências de fomento Mário Lúcio Vilela Resende (DFT, UFLA, Lavras-MG) Rodrigo Lopes Ferreira (DBI, UFLA, Lavras-MG).
                        td 
                            p Técnicas de preparo e redação de artigos científicos Patrícia Paiva (DAG).
                        td 
                            p Apresentação de trabalhos Programas Acadêmicos e Programas Profissionais.
                        td
                            p Premiação Melhor Tese 2016.
section#index03
    div.content
        div.subIndex03
            div.titleSection
                h2 
                    | o departamento 
                    br
                    | de ciência da computação
            div.line
                p é o principal responsável pelos cursos de Bacharelado em Ciência da Computação(BCC) e o Bacharelado em Sistemas de Informação (BSI) da UFLA, por oito cursos de Pós-Graduação Lato-Sensu e o Mestrado em Ciência da Computação. O DCC também possui grande participação no curso de Engenharia de Controle e Automação e será o principal responsável pelo curso de Engenharia da Computação. Os ex-alunos do DCC destacam-se por atuar em empresas nacionais e internacionais, universidades federais, além de construir iniciativas empreendedoras. 
        div.subIndex03
            iframe(width="560",height="315",src="https://www.youtube.com/embed/uTq8jHnY3Lo",frameborder="0")
section#index04
    div.content
        div.line
section#index05
    div.content
        div.subIndex05
            img(src="img/index/01.svg")
        div.subIndex05
            div.titleSection
                h2 
                    | universidade federal de lavras
                    br
                    | 
            div.line
                p A Universidade Federal de Lavras possui a maior pontuação entre as universidades de MG e é apontada como a 3ª melhor universidade do Brasil, segundo dados de 2014 do Inep/MEC. Conta com 23 cursos de graduação e 25 de pós-graduação. Em um dia normal de aula, passam pelo campus da UFLA cerca de 13 mil pessoas.
