section.divider01
section#index01
    div.content
        div.subIndex01
        div.subIndex01
            div.titleSection
                    h2 
                        | já conhece o congresso da pós graduação?
            div.line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            div.line.fix
                img(src="#")
        div.subIndex01
section.divider02
section#index02
    div.content
        div.line
            div.titleSection
                h2.white-title
                    | programação do evento
        div.line
            table
                thead
                    tr  
                        td(colspan="4") 
                            h3 dia xx de setembro
                tbody
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td(colspan="4")
                            p testee
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
        div.line
            table
                thead
                    tr  
                        td(colspan="4") 
                            h3 dia xx de setembro
                tbody
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td(colspan="4")
                            p testee
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
        div.line
            table
                thead
                    tr  
                        td(colspan="4") 
                            h3 dia xx de setembro
                tbody
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td(colspan="4")
                            p testee
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                    tr
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
                        td 
                            p teste
section#index03
    div.content
        div.subIndex03
            div.titleSection
                h2 
                    | o departamento 
                    br
                    | de ciência da computação
            div.line
                p é o principal responsável pelos cursos de Bacharelado em Ciência da Computação(BCC) e o Bacharelado em Sistemas de Informação (BSI) da UFLA, por oito cursos de Pós-Graduação Lato-Sensu e o Mestrado em Ciência da Computação. O DCC também possui grande participação no curso de Engenharia de Controle e Automação e será o principal responsável pelo curso de Engenharia da Computação. Os ex-alunos do DCC destacam-se por atuar em empresas nacionais e internacionais, universidades federais, além de construir iniciativas empreendedoras. 
        div.subIndex03
            iframe(width="560",height="315",src="https://www.youtube.com/embed/uTq8jHnY3Lo",frameborder="0")
section#index04
    div.content
        div.line
section#index05
    div.content
        div.subIndex05
            img(src="img/index/01.svg")
        div.subIndex05
            div.titleSection
                h2 
                    | universidade federal de lavras
                    br
                    | 
            div.line
                p A Universidade Federal de Lavras possui a maior pontuação entre as universidades de MG e é apontada como a 3ª melhor universidade do Brasil, segundo dados de 2014 do Inep/MEC. Conta com 23 cursos de graduação e 25 de pós-graduação. Em um dia normal de aula, passam pelo campus da UFLA cerca de 13 mil pessoas.
