section#index01
section#index02
section#index03
    div.content
        div.subIndex03
            div.titleSection
                h2 
                    | o departamento 
                    br
                    | de ciência da computação
            div.line
                p é o principal responsável pelos cursos de Bacharelado em Ciência da Computação(BCC) e o Bacharelado em Sistemas de Informação (BSI) da UFLA, por oito cursos de Pós-Graduação Lato-Sensu e o Mestrado em Ciência da Computação. O DCC também possui grande participação no curso de Engenharia de Controle e Automação e será o principal responsável pelo curso de Engenharia da Computação. Os ex-alunos do DCC destacam-se por atuar em empresas nacionais e internacionais, universidades federais, além de construir iniciativas empreendedoras. 
        div.subIndex03
            iframe(width="560",height="315",src="https://www.youtube.com/embed/uTq8jHnY3Lo",frameborder="0")
section#index04
section#index05